name: ccl_ui
description: "CeylonCodeLabs UI Extensions"
version: 0.2.3
homepage: https://github.com/CeylonCodeLabs/ccl_packages

environment:
  sdk: '>=3.2.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  ccl_services: '>=0.2.2 <1.0.0'
  flutter_support_pack: '>=1.4.1 <2.0.0'
  responsive_builder: ^0.7.0
  stacked: '>=3.4.2 <4.0.0'

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
  flutter_lints: ^4.0.0

scripts:
  gen_changelog: git-chglog -o CHANGELOG.md
  gen_release_note: git log --pretty="- %s (%an)" $(git describe --tags --abbrev=0 $(git rev-list --tags --skip=1 --max-count=1))..HEAD > release_note.txt